.box{
    width: 95%;
    margin: auto;
   
}

.image{
    margin: auto;
}

.imageCircle{
    border-radius: 5000px;
    /* height: 25rem; */
}

.summary{
    text-align: left;
    margin-left: 1rem;
   
}

.aboutTitle{
    color: rgb(59 130 246);
    font-weight: bold;
    margin-bottom: 25px;
}

.allPostsTitle{
    color: rgb(59 130 246);
    font-weight: bold;
}

h2{
    font-style: italic;
}

.list{
    list-style-type: disc;
    list-style-position: inside !important;
    font-weight: bold;
}

.list2{
    list-style-type: disc;
    list-style-position: inside !important;
    margin-left: 25px;
}

.nested{
    list-style-type: circle;
    list-style-position: inside !important;
    margin-left: 30px;
    font-weight: lighter;
}

.imageCaption{
    justify-content: center;
    text-align: center;
}

div{
    font-family: 'Reenie Beanie';
    
}

.readable{
    font-family: 'Roboto';
}


