.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  .item {
    float: left;
  }
  
  .item a {
    display: block;
    color: #2196F3;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    font-size: xx-large;
    font-weight: bold;
  }
  
  /* Change the link color to #111 (black) on hover */
  .item a:hover {
    background-color: #333;
  }